.main-conten{
   width: 100vw;
   padding: 40px;
   display: grid;
   grid-template-columns: repeat(4, 320px);
   gap: 50px;
   justify-content: start;
}

.contenter{
   max-width: 320px;
}

@media (max-width: 1600px){
 .main-contents{
    grid-template-columns: repeat(3, 320px);
 }

}

@media (max-width: 1300px){
    .main-contents{
       grid-template-columns: repeat(2, 320px);
    }
   
   }

   @media (max-width: 950px){
    .main-contents{
       grid-template-columns: repeat(1, 320px);
    }
   
   }

