
body{
    height: 100vh;
    width: 100vw;
    background: #F9F9F9;
}
.content-main{
    height: 56px;
    padding: 0 24px 0 24px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    align-items: center;
    display: flex;
    gap: 2vw;
}
 

.search-bar{
    height: 40px;
    display: flex;
    border: 1px solid #CCCC;
    border-radius: 8px;
    align-items: center;
}
.search-bar input{
    width: 25vw;
    height: 3vh;
    border-radius: 8px;
    border: none;
    padding: 0 1vw ;
}
.search-bar input::placeholder{
    font-size: 16px;
    font-weight: 400;
}
.search-bar button{
    height: 40px;
    background: none;
}
.search-bar button:hover{
    cursor: pointer;
}
.icon-search{
    background-color: #cccccc66;
    padding: 0 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.personal-items{
    display: flex;
    gap: 2vw;
    align-items: center;

    @media(max-width: 600px){
        display: none;
    }
}

.cursor{
    cursor: pointer;
}